In [1]:
import pandas as pd
import numpy as np

In [18]:
df_income = pd.read_csv('data/ACS_14_5YR_S1901/ACS_14_5YR_S1901.csv',skiprows=0, dtype={'GEO.id2':object,'HC01_EST_VC13':str})

In [19]:
df_income = df_income[['GEO.id2','HC01_EST_VC13']]

In [20]:
#df_income
df_income =df_income.drop(df_income.index[[0]])
df_income.head()

       GEO.id2 HC01_EST_VC13
1  36005000100           NaN
2  36005000200         74837
3  36005000400         77991
4  36005001600         32354
5  36005001900         34635

In [21]:
mean = df_income['HC01_EST_VC13'].astype(float).mean()
df_income['HC01_EST_VC13'].fillna(mean,inplace=True)
df_income.head()

       GEO.id2 HC01_EST_VC13
1  36005000100         58480
2  36005000200         74837
3  36005000400         77991
4  36005001600         32354
5  36005001900         34635

In [22]:
df_income.rename(columns={'HC01_EST_VC13': 'Median_Income'}, inplace=True)
df_income.head()

       GEO.id2 Median_Income
1  36005000100         58480
2  36005000200         74837
3  36005000400         77991
4  36005001600         32354
5  36005001900         34635

In [23]:
len(df_income)

2167

In [33]:
df_age = pd.read_csv('data/ACS_14_5YR_B01001/ACS_14_5YR_B01001.csv',skiprows=0)

In [34]:
df_age2 = df_age.iloc[:,1::2]

In [35]:
df_age2 =df_age2.drop(df_age2.index[[0]])

In [36]:
col_list = df_age2.iloc[:,6:13:1].columns.values.tolist()
print (col_list)

col_list2 = df_age2.iloc[:,30:37:1].columns.values.tolist()
print (col_list2)

df_age2['Male(15-34)'] = df_age2[col_list].astype('int').sum(axis=1)
df_age2['FeMale(15-34)'] = df_age2[col_list2].astype('int').sum(axis=1)
df_age2['(15-34)'] = df_age2[['Male(15-34)','FeMale(15-34)']].astype('int').sum(axis=1)
df_age2[['HD01_VD01','Male(15-34)','FeMale(15-34)','(15-34)']]

['HD01_VD06', 'HD01_VD07', 'HD01_VD08', 'HD01_VD09', 'HD01_VD10', 'HD01_VD11', 'HD01_VD12']
['HD01_VD30', 'HD01_VD31', 'HD01_VD32', 'HD01_VD33', 'HD01_VD34', 'HD01_VD35', 'HD01_VD36']

     HD01_VD01  Male(15-34)  FeMale(15-34)  (15-34)
1         8430         4925            430     5355
2         5095          734            758     1492
3         5572          877            614     1491
4         5412          618            690     1308
5         2569          429            464      893
6         8959          992           1487     2479
7         4860          616            773     1389
8            0            0              0        0
9         5143          555           1009     1564
10        3172          585            386      971
11        4683         1087            780     1867
12        5746          793            580     1373
13        1538          152            221      373
14        3852          599            550     1149
15        3753          710            638     1348
16         199           27             10       37
17        1303          195            238      433
18        6580         1143           1102     2245
19        1550          115            213      328
20        6483         1127           1034     2161
21        7599         1498           1142     2640
22        5841         1003            836     1839
23        4830          734            716     1450
24        1659          244            192      436
25        4024          709            476     1185
26        5040          729            990     1719
27        5791         1152           1083     2235
28        5814          901            964     1865
29        2128          230            387      617
30        3305          489            637     1126
...        ...          ...            ...      ...
2138      9150         1397           1179     2576
2139      6317          724            793     1517
2140      5583          613            753     1366
2141      5163         1003            655     1658
2142      2650          342            353      695
2143      9089         1308            872     2180
2144       231            5             31       36
2145      4183          679            641     1320
2146      3386          688            631     1319
2147      6199          514            807     1321
2148      4426          641            440     1081
2149      2767          429            473      902
2150      4860          665            657     1322
2151      5796          858            845     1703
2152      3938          655            357     1012
2153      3586          363            392      755
2154      6097          708            679     1387
2155      4227          552            485     1037
2156      5788          835            769     1604
2157      3320          394            443      837
2158      2106           88            201      289
2159      2712          303            418      721
2160      7405          793           1066     1859
2161      6999          868            915     1783
2162      5061          849            813     1662
2163      6205          921            868     1789
2164      2916          416            613     1029
2165      4535          523            688     1211
2166      1106          110            195      305
2167         0            0              0        0

[2167 rows x 4 columns]

In [37]:
def calc_percentage(a, b):
    if(int(a) == 0):
        return 0
    return (float(b)/float(a))*100.0

df_age2['percentage'] = df_age2.apply(lambda row: calc_percentage(row['HD01_VD01'], row['(15-34)']), axis=1)
df_age2[['GEO.id2','HD01_VD01','Male(15-34)','FeMale(15-34)','(15-34)','percentage']]

          GEO.id2 HD01_VD01  Male(15-34)  FeMale(15-34)  (15-34)  percentage
1     36005000100      8430         4925            430     5355   63.523132
2     36005000200      5095          734            758     1492   29.283611
3     36005000400      5572          877            614     1491   26.758794
4     36005001600      5412          618            690     1308   24.168514
5     36005001900      2569          429            464      893   34.760607
6     36005002000      8959          992           1487     2479   27.670499
7     36005002300      4860          616            773     1389   28.580247
8     36005002400         0            0              0        0    0.000000
9     36005002500      5143          555           1009     1564   30.410266
10    36005002701      3172          585            386      971   30.611602
11    36005002702      4683         1087            780     1867   39.867606
12    36005002800      5746          793            580     1373   23.894883
13    36005003100      1538          152            221      373   24.252276
14    36005003300      3852          599            550     1149   29.828660
15    36005003500      3753          710            638     1348   35.917932
16    36005003700       199           27             10       37   18.592965
17    36005003800      1303          195            238      433   33.231005
18    36005003900      6580         1143           1102     2245   34.118541
19    36005004001      1550          115            213      328   21.161290
20    36005004100      6483         1127           1034     2161   33.333333
21    36005004200      7599         1498           1142     2640   34.741413
22    36005004300      5841         1003            836     1839   31.484335
23    36005004400      4830          734            716     1450   30.020704
24    36005004600      1659          244            192      436   26.280892
25    36005004800      4024          709            476     1185   29.448310
26    36005005001      5040          729            990     1719   34.107143
27    36005005002      5791         1152           1083     2235   38.594371
28    36005005100      5814          901            964     1865   32.077743
29    36005005200      2128          230            387      617   28.994361
30    36005005300      3305          489            637     1126   34.069592
...           ...       ...          ...            ...      ...         ...
2138  36085020801      9150         1397           1179     2576   28.153005
2139  36085020803      6317          724            793     1517   24.014564
2140  36085020804      5583          613            753     1366   24.467132
2141  36085021300      5163         1003            655     1658   32.113113
2142  36085022300      2650          342            353      695   26.226415
2143  36085022600      9089         1308            872     2180   23.985037
2144  36085022800       231            5             31       36   15.584416
2145  36085023100      4183          679            641     1320   31.556299
2146  36085023900      3386          688            631     1319   38.954519
2147  36085024401      6199          514            807     1321   21.309889
2148  36085024402      4426          641            440     1081   24.423859
2149  36085024700      2767          429            473      902   32.598482
2150  36085024800      4860          665            657     1322   27.201646
2151  36085025100      5796          858            845     1703   29.382333
2152  36085027301      3938          655            357     1012   25.698324
2153  36085027302      3586          363            392      755   21.054099
2154  36085027702      6097          708            679     1387   22.748893
2155  36085027704      4227          552            485     1037   24.532766
2156  36085027705      5788          835            769     1604   27.712509
2157  36085027706      3320          394            443      837   25.210843
2158  36085027900      2106           88            201      289   13.722697
2159  36085029102      2712          303            418      721   26.585546
2160  36085029103      7405          793           1066     1859   25.104659
2161  36085029104      6999          868            915     1783   25.475068
2162  36085030301      5061          849            813     1662   32.839360
2163  36085030302      6205          921            868     1789   28.831587
2164  36085031901      2916          416            613     1029   35.288066
2165  36085031902      4535          523            688     1211   26.703418
2166  36085032300      1106          110            195      305   27.576854
2167  36085990100         0            0              0        0    0.000000

[2167 rows x 6 columns]

In [40]:
df_age2.rename(columns={'HD01_VD01': 'Total_pop', '(15-34)':'pop_15_34', 'percentage':'percentage(youth)'}, inplace=True)
df_age2[['GEO.id2','Total_pop','Male(15-34)','FeMale(15-34)','pop_15_34','percentage(youth)']]

,GEO.id2,Total_pop,Male(15-34),FeMale(15-34),pop_15_34,percentage(youth)
1,36005000100,8430,4925,430,5355,63.523132
2,36005000200,5095,734,758,1492,29.283611
3,36005000400,5572,877,614,1491,26.758794
4,36005001600,5412,618,690,1308,24.168514
5,36005001900,2569,429,464,893,34.760607
6,36005002000,8959,992,1487,2479,27.670499
7,36005002300,4860,616,773,1389,28.580247
8,36005002400,0,0,0,0,0.000000
9,36005002500,5143,555,1009,1564,30.410266
10,36005002701,3172,585,386,971,30.611602
11,36005002702,4683,1087,780,1867,39.867606
12,36005002800,5746,793,580,1373,23.894883
13,36005003100,1538,152,221,373,24.252276
14,36005003300,3852,599,550,1149,29.828660
15,36005003500,3753,710,638,1348,35.917932
16,36005003700,199,27,10,37,18.592965
17,36005003800,1303,195,238,433,33.231005
18,36005003900,6580,1143,1102,2245,34.118541
19,36005004001,1550,115,213,328,21.161290
20,36005004100,6483,1127,1034,2161,33.333333
21,36005004200,7599,1498,1142,2640,34.741413
22,36005004300,5841,1003,836,1839,31.484335
23,36005004400,4830,734,716,1450,30.020704
24,36005004600,1659,244,192,436,26.280892
25,36005004800,4024,709,476,1185,29.448310
26,36005005001,5040,729,990,1719,34.107143
27,36005005002,5791,1152,1083,2235,38.594371
28,36005005100,5814,901,964,1865,32.077743
29,36005005200,2128,230,387,617,28.994361
30,36005005300,3305,489,637,1126,34.069592
...,...,...,...,...,...,...
2138,36085020801,9150,1397,1179,2576,28.153005
2139,36085020803,6317,724,793,1517,24.014564
2140,36085020804,5583,613,753,1366,24.467132
2141,36085021300,5163,1003,655,1658,32.113113
2142,36085022300,2650,342,353,695,26.226415
2143,36085022600,9089,1308,872,2180,23.985037
2144,36085022800,231,5,31,36,15.584416
2145,36085023100,4183,679,641,1320,31.556299
2146,36085023900,3386,688,631,1319,38.954519
2147,36085024401,6199,514,807,1321,21.309889
2148,36085024402,4426,641,440,1081,24.423859
2149,36085024700,2767,429,473,902,32.598482
2150,36085024800,4860,665,657,1322,27.201646
2151,36085025100,5796,858,845,1703,29.382333
2152,36085027301,3938,655,357,1012,25.698324
2153,36085027302,3586,363,392,755,21.054099
2154,36085027702,6097,708,679,1387,22.748893
2155,36085027704,4227,552,485,1037,24.532766
2156,36085027705,5788,835,769,1604,27.712509
2157,36085027706,3320,394,443,837,25.210843
2158,36085027900,2106,88,201,289,13.722697
2159,36085029102,2712,303,418,721,26.585546
2160,36085029103,7405,793,1066,1859,25.104659
2161,36085029104,6999,868,915,1783,25.475068
2162,36085030301,5061,849,813,1662,32.839360
2163,36085030302,6205,921,868,1789,28.831587
2164,36085031901,2916,416,613,1029,35.288066
2165,36085031902,4535,523,688,1211,26.703418
2166,36085032300,1106,110,195,305,27.576854
2167,36085990100,0,0,0,0,0.000000

In [41]:
df_combined = df_age2.merge(df_income, on='GEO.id2')
df_combined = df_combined[['GEO.id2','pop_15_34','percentage(youth)','Median_Income']]
df_combined.head()

       GEO.id2  pop_15_34  percentage(youth) Median_Income
0  36005000100       5355          63.523132         58480
1  36005000200       1492          29.283611         74837
2  36005000400       1491          26.758794         77991
3  36005001600       1308          24.168514         32354
4  36005001900        893          34.760607         34635

In [42]:
len(df_combined)

2167

##==============================================================

In [54]:
df_edu = pd.read_csv('data/ACS_14_5YR_B15001/ACS_14_5YR_B15001.csv',skiprows=0)

In [55]:
df2 = df_edu.iloc[:,1::2]
df2.head()

,GEO.id2,HD01_VD01,HD01_VD02,HD01_VD03,HD01_VD04,HD01_VD05,HD01_VD06,HD01_VD07,HD01_VD08,HD01_VD09,...,HD01_VD74,HD01_VD75,HD01_VD76,HD01_VD77,HD01_VD78,HD01_VD79,HD01_VD80,HD01_VD81,HD01_VD82,HD01_VD83
0,Id2,Estimate; Total:,Estimate; Male:,Estimate; Male: - 18 to 24 years:,Estimate; Male: - 18 to 24 years: - Less than ...,Estimate; Male: - 18 to 24 years: - 9th to 12t...,Estimate; Male: - 18 to 24 years: - High schoo...,Estimate; Male: - 18 to 24 years: - Some colle...,Estimate; Male: - 18 to 24 years: - Associate'...,Estimate; Male: - 18 to 24 years: - Bachelor's...,...,Estimate; Female: - 45 to 64 years: - Bachelor...,Estimate; Female: - 45 to 64 years: - Graduate...,Estimate; Female: - 65 years and over:,Estimate; Female: - 65 years and over: - Less ...,Estimate; Female: - 65 years and over: - 9th t...,Estimate; Female: - 65 years and over: - High ...,Estimate; Female: - 65 years and over: - Some ...,Estimate; Female: - 65 years and over: - Assoc...,Estimate; Female: - 65 years and over: - Bache...,Estimate; Female: - 65 years and over: - Gradu...
1,36005000100,8073,7297,2449,159,1822,354,106,5,3,...,0,15,0,0,0,0,0,0,0,0
2,36005000200,3948,1882,232,5,75,57,27,0,51,...,53,24,408,116,65,123,35,30,30,9
3,36005000400,4246,2167,342,10,66,68,188,0,10,...,180,88,318,76,62,51,54,0,56,19
4,36005001600,4177,1686,371,0,84,85,151,0,51,...,84,0,557,124,179,164,79,7,4,0

In [56]:
df2.drop(df2.index[[0]],inplace=True)
df2.head()

/Users/sachinv/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,GEO.id2,HD01_VD01,HD01_VD02,HD01_VD03,HD01_VD04,HD01_VD05,HD01_VD06,HD01_VD07,HD01_VD08,HD01_VD09,...,HD01_VD74,HD01_VD75,HD01_VD76,HD01_VD77,HD01_VD78,HD01_VD79,HD01_VD80,HD01_VD81,HD01_VD82,HD01_VD83
1,36005000100,8073,7297,2449,159,1822,354,106,5,3,...,0,15,0,0,0,0,0,0,0,0
2,36005000200,3948,1882,232,5,75,57,27,0,51,...,53,24,408,116,65,123,35,30,30,9
3,36005000400,4246,2167,342,10,66,68,188,0,10,...,180,88,318,76,62,51,54,0,56,19
4,36005001600,4177,1686,371,0,84,85,151,0,51,...,84,0,557,124,179,164,79,7,4,0
5,36005001900,1961,1081,145,28,23,61,24,0,9,...,67,6,57,29,14,11,0,3,0,0

In [57]:
import itertools

In [58]:
list1 = ['18_24', '25_34', '35_44', '45_64', '65_plus']
my_iter = iter(list1)

In [59]:
for i in range(3,41,8):
    list2 = ['_All','_less_9', '_under_12', '_high_school', '_some_college', '_associate', '_bachelor', '_graduate']
    my_iter2 = iter(list2)
    print i, (i+41)
    label1 = my_iter.next()
    print label1
    print tuple(df2.iloc[:,i::41].columns.values.tolist())
    print tuple(df2.iloc[:,(i+1)::41].columns.values.tolist())
    print tuple(df2.iloc[:,(i+2)::41].columns.values.tolist())
    print tuple(df2.iloc[:,(i+3)::41].columns.values.tolist())
    print tuple(df2.iloc[:,(i+4)::41].columns.values.tolist())
    print tuple(df2.iloc[:,(i+5)::41].columns.values.tolist())
    print tuple(df2.iloc[:,(i+6)::41].columns.values.tolist())
    print tuple(df2.iloc[:,(i+7)::41].columns.values.tolist())
    print '----------------------------------------------------'
    col_list = df2.iloc[:,i::41].columns.values.tolist()
    df2[label1 + my_iter2.next()] = df2[col_list].astype('int').sum(axis=1)
    col_list = df2.iloc[:,(i+1)::41].columns.values.tolist()
    df2[label1 + my_iter2.next()] = df2[col_list].astype('int').sum(axis=1)
    col_list = df2.iloc[:,(i+2)::41].columns.values.tolist()
    df2[label1 + my_iter2.next()] = df2[col_list].astype('int').sum(axis=1)
    col_list = df2.iloc[:,(i+3)::41].columns.values.tolist()
    df2[label1 + my_iter2.next()] = df2[col_list].astype('int').sum(axis=1)
    col_list = df2.iloc[:,(i+4)::41].columns.values.tolist()
    df2[label1 + my_iter2.next()] = df2[col_list].astype('int').sum(axis=1)
    col_list = df2.iloc[:,(i+5)::41].columns.values.tolist()
    df2[label1 + my_iter2.next()] = df2[col_list].astype('int').sum(axis=1)
    col_list = df2.iloc[:,(i+6)::41].columns.values.tolist()
    df2[label1 + my_iter2.next()] = df2[col_list].astype('int').sum(axis=1)
    col_list = df2.iloc[:,(i+7)::41].columns.values.tolist()
    df2[label1 + my_iter2.next()] = df2[col_list].astype('int').sum(axis=1)

/Users/sachinv/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sachinv/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sachinv/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sachinv/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sachinv/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sachinv/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

3 44
18_24
('HD01_VD03', 'HD01_VD44')
('HD01_VD04', 'HD01_VD45')
('HD01_VD05', 'HD01_VD46')
('HD01_VD06', 'HD01_VD47')
('HD01_VD07', 'HD01_VD48')
('HD01_VD08', 'HD01_VD49')
('HD01_VD09', 'HD01_VD50')
('HD01_VD10', 'HD01_VD51')
----------------------------------------------------
11 52
25_34
('HD01_VD11', 'HD01_VD52')
('HD01_VD12', 'HD01_VD53')
('HD01_VD13', 'HD01_VD54')
('HD01_VD14', 'HD01_VD55')
('HD01_VD15', 'HD01_VD56')
('HD01_VD16', 'HD01_VD57')
('HD01_VD17', 'HD01_VD58')
('HD01_VD18', 'HD01_VD59')
----------------------------------------------------
19 60
35_44
('HD01_VD19', 'HD01_VD60')
('HD01_VD20', 'HD01_VD61')
('HD01_VD21', 'HD01_VD62')
('HD01_VD22', 'HD01_VD63')
('HD01_VD23', 'HD01_VD64')
('HD01_VD24', 'HD01_VD65')
('HD01_VD25', 'HD01_VD66')
('HD01_VD26', 'HD01_VD67')
----------------------------------------------------
27 68
45_64
('HD01_VD27', 'HD01_VD68')
('HD01_VD28', 'HD01_VD69')
('HD01_VD29', 'HD01_VD70')
('HD01_VD30', 'HD01_VD71')
('HD01_VD31', 'HD01_VD72')
('HD01_VD32', 'HD01_VD73')
('HD01_VD33', 'HD01_VD74')
('HD01_VD34', 'HD01_VD75')
----------------------------------------------------
35 76
65_plus
('HD01_VD35', 'HD01_VD76')
('HD01_VD36', 'HD01_VD77')
('HD01_VD37', 'HD01_VD78')
('HD01_VD38', 'HD01_VD79')
('HD01_VD39', 'HD01_VD80')
('HD01_VD40', 'HD01_VD81')
('HD01_VD41', 'HD01_VD82')
('HD01_VD42', 'HD01_VD83')
----------------------------------------------------

/Users/sachinv/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sachinv/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [60]:
df2.head()

,GEO.id2,HD01_VD01,HD01_VD02,HD01_VD03,HD01_VD04,HD01_VD05,HD01_VD06,HD01_VD07,HD01_VD08,HD01_VD09,...,45_64_bachelor,45_64_graduate,65_plus_All,65_plus_less_9,65_plus_under_12,65_plus_high_school,65_plus_some_college,65_plus_associate,65_plus_bachelor,65_plus_graduate
1,36005000100,8073,7297,2449,159,1822,354,106,5,3,...,39,39,56,16,32,0,6,0,2,0
2,36005000200,3948,1882,232,5,75,57,27,0,51,...,125,53,751,203,113,320,35,30,34,16
3,36005000400,4246,2167,342,10,66,68,188,0,10,...,341,226,516,111,120,107,79,0,77,22
4,36005001600,4177,1686,371,0,84,85,151,0,51,...,113,10,867,209,205,267,123,12,15,36
5,36005001900,1961,1081,145,28,23,61,24,0,9,...,67,6,95,33,22,34,3,3,0,0

In [61]:
df2.drop(df2.columns[1:84], axis=1, inplace=True)
df2.head()

/Users/sachinv/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,GEO.id2,18_24_All,18_24_less_9,18_24_under_12,18_24_high_school,18_24_some_college,18_24_associate,18_24_bachelor,18_24_graduate,25_34_All,...,45_64_bachelor,45_64_graduate,65_plus_All,65_plus_less_9,65_plus_under_12,65_plus_high_school,65_plus_some_college,65_plus_associate,65_plus_bachelor,65_plus_graduate
1,36005000100,2685,159,1959,431,128,5,3,0,2313,...,39,39,56,16,32,0,6,0,2,0
2,36005000200,575,23,178,109,164,8,66,27,754,...,125,53,751,203,113,320,35,30,34,16
3,36005000400,446,10,97,104,209,16,10,0,885,...,341,226,516,111,120,107,79,0,77,22
4,36005001600,626,36,84,184,231,23,68,0,493,...,113,10,867,209,205,267,123,12,15,36
5,36005001900,319,65,39,90,61,0,42,22,541,...,67,6,95,33,22,34,3,3,0,0

In [63]:
df2.iloc[:3,:].T

                                1            2            3
GEO.id2               36005000100  36005000200  36005000400
18_24_All                    2685          575          446
18_24_less_9                  159           23           10
18_24_under_12               1959          178           97
18_24_high_school             431          109          104
18_24_some_college            128          164          209
18_24_associate                 5            8           16
18_24_bachelor                  3           66           10
18_24_graduate                  0           27            0
25_34_All                    2313          754          885
25_34_less_9                  183            0            0
25_34_under_12               1385           76           34
25_34_high_school             539          192          183
25_34_some_college            163          120          255
25_34_associate                15          170          206
25_34_bachelor                 19          196          140
25_34_graduate                  9            0           67
35_44_All                    1671          619          695
35_44_less_9                  165           20           20
35_44_under_12                773          164           78
35_44_high_school             403          143           94
35_44_some_college            253          135          195
35_44_associate                52           86          102
35_44_bachelor                 25           63          119
35_44_graduate                  0            8           87
45_64_All                    1348         1249         1704
45_64_less_9                  201          141           36
45_64_under_12                625          120          161
45_64_high_school             255          469          377
45_64_some_college            164          298          343
45_64_associate                25           43          220
45_64_bachelor                 39          125          341
45_64_graduate                 39           53          226
65_plus_All                    56          751          516
65_plus_less_9                 16          203          111
65_plus_under_12               32          113          120
65_plus_high_school             0          320          107
65_plus_some_college            6           35           79
65_plus_associate               0           30            0
65_plus_bachelor                2           34           77
65_plus_graduate                0           16           22

In [77]:
col_list = df2.iloc[:,4:9:1].columns.values.tolist()
df2['18_24_GOOD'] = df2[col_list].astype('int').sum(axis=1)

col_list = df2.iloc[:,12:17:1].columns.values.tolist()
df2['25_34_GOOD'] = df2[col_list].astype('int').sum(axis=1)

col_list = df2.iloc[:,20:25:1].columns.values.tolist()
df2['35_44_GOOD'] = df2[col_list].astype('int').sum(axis=1)

col_list = df2.iloc[:,28:33:1].columns.values.tolist()
df2['45_64_GOOD'] = df2[col_list].astype('int').sum(axis=1)

col_list = df2.iloc[:,36:41:1].columns.values.tolist()
df2['65_GOOD'] = df2[col_list].astype('int').sum(axis=1)

col_list = df2.iloc[:,41:43:1].columns.values.tolist()
df2['18_34_GOOD'] = df2[col_list].astype('int').sum(axis=1)

df2['18_34_TOTAL'] = df2[['18_24_All','25_34_All']].astype('int').sum(axis=1)

df2['per_18_34_TOTAL'] = df2.apply(lambda row: calc_percentage(row['18_34_TOTAL'], row['18_34_GOOD']), axis=1)

/Users/sachinv/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from IPython.kernel.zmq import kernelapp as app
/Users/sachinv/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sachinv/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sachinv/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sachinv/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sachinv/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sachinv/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/sachinv/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [74]:
df2.iloc[:10,:].T

,1,2,3,4,5,6,7,8,9,10
GEO.id2,36005000100,36005000200,36005000400,36005001600,36005001900,36005002000,36005002300,36005002400,36005002500,36005002701
18_24_All,2685,575,446,626,319,991,536,0,497,440
18_24_less_9,159,23,10,36,65,100,6,0,71,74
18_24_under_12,1959,178,97,84,39,314,201,0,153,78
18_24_high_school,431,109,104,184,90,255,113,0,101,130
18_24_some_college,128,164,209,231,61,276,183,0,133,158
18_24_associate,5,8,16,23,0,0,6,0,21,0
18_24_bachelor,3,66,10,68,42,46,27,0,18,0
18_24_graduate,0,27,0,0,22,0,0,0,0,0
25_34_All,2313,754,885,493,541,929,608,0,857,317
25_34_less_9,183,0,0,0,27,36,88,0,147,52
25_34_under_12,1385,76,34,68,81,220,119,0,172,87
25_34_high_school,539,192,183,174,154,364,241,0,287,110
25_34_some_college,163,120,255,110,132,132,107,0,159,60
25_34_associate,15,170,206,20,37,28,39,0,14,4
25_34_bachelor,19,196,140,79,90,129,0,0,78,0
25_34_graduate,9,0,67,42,20,20,14,0,0,4
35_44_All,1671,619,695,812,466,1195,536,0,738,549
35_44_less_9,165,20,20,17,67,50,23,0,144,106
35_44_under_12,773,164,78,67,54,221,84,0,288,156
35_44_high_school,403,143,94,255,112,352,177,0,193,149
35_44_some_college,253,135,195,207,86,129,148,0,79,63
35_44_associate,52,86,102,49,26,141,40,0,28,36
35_44_bachelor,25,63,119,150,60,211,64,0,0,39
35_44_graduate,0,8,87,67,61,91,0,0,6,0
45_64_All,1348,1249,1704,1379,540,2392,1123,0,808,539
45_64_less_9,201,141,36,319,53,449,260,0,147,136
45_64_under_12,625,120,161,286,98,253,274,0,131,87
45_64_high_school,255,469,377,351,155,773,373,0,214,176
45_64_some_college,164,298,343,203,135,314,160,0,206,106
45_64_associate,25,43,220,97,26,278,28,0,26,7
45_64_bachelor,39,125,341,113,67,228,23,0,51,0
45_64_graduate,39,53,226,10,6,97,5,0,33,27
65_plus_All,56,751,516,867,95,972,598,0,477,237
65_plus_less_9,16,203,111,209,33,346,322,0,304,114
65_plus_under_12,32,113,120,205,22,150,89,0,70,62
65_plus_high_school,0,320,107,267,34,334,158,0,89,31
65_plus_some_college,6,35,79,123,3,85,28,0,14,0
65_plus_associate,0,30,0,12,3,57,0,0,0,0
65_plus_bachelor,2,34,77,15,0,0,0,0,0,8
65_plus_graduate,0,16,22,36,0,0,1,0,0,22
18_24_GOOD,567,374,339,506,215,577,329,0,273,288
25_34_GOOD,745,678,851,425,433,673,401,0,538,178
35_44_GOOD,733,435,597,728,345,924,429,0,306,287
45_64_GOOD,522,988,1507,774,389,1690,589,0,530,316
65_GOOD,8,435,285,453,40,476,187,0,103,61
18_34_GOOD,1312,1052,1190,931,648,1250,730,0,811,466
18_34_TOTAL,4998,1329,1331,1119,860,1920,1144,0,1354,757
percentage_GOOD_TOTAL,26.2505,79.1573,89.4065,83.1993,75.3488,65.1042,63.8112,0,59.8966,61.5588

In [78]:
df_edu3 = df2[['GEO.id2', 'per_18_34_TOTAL']]

In [79]:
df_combined2 = df_combined.merge(df_edu3, on='GEO.id2')
df_combined2

          GEO.id2  pop_15_34  percentage(youth) Median_Income  per_18_34_TOTAL
0     36005000100       5355          63.523132         58480        26.250500
1     36005000200       1492          29.283611         74837        79.157261
2     36005000400       1491          26.758794         77991        89.406461
3     36005001600       1308          24.168514         32354        83.199285
4     36005001900        893          34.760607         34635        75.348837
5     36005002000       2479          27.670499         23423        65.104167
6     36005002300       1389          28.580247         14304        63.811189
7     36005002400          0           0.000000         58480         0.000000
8     36005002500       1564          30.410266         15683        59.896603
9     36005002701        971          30.611602         20159        61.558785
10    36005002702       1867          39.867606         18416        59.233926
11    36005002800       1373          23.894883         50388        89.016393
12    36005003100        373          24.252276         39962        80.851064
13    36005003300       1149          29.828660         19784        70.729053
14    36005003500       1348          35.917932         22267        63.740123
15    36005003700         37          18.592965          9327        72.972973
16    36005003800        433          33.231005         46534        79.353234
17    36005003900       2245          34.118541         27608        63.988241
18    36005004001        328          21.161290         47841        77.192982
19    36005004100       2161          33.333333         18516        59.052925
20    36005004200       2640          34.741413         22135        77.568416
21    36005004300       1839          31.484335         21827        78.802993
22    36005004400       1450          30.020704         23102        66.781708
23    36005004600        436          26.280892         44297        60.880829
24    36005004800       1185          29.448310         24437        54.309450
25    36005005001       1719          34.107143         31250        68.162084
26    36005005002       2235          38.594371         29338        58.429319
27    36005005100       1865          32.077743         20233        73.727216
28    36005005200        617          28.994361         16810        69.326241
29    36005005300       1126          34.069592         16173        75.539568
...           ...        ...                ...           ...              ...
2137  36085020801       2576          28.153005         72933        89.879294
2138  36085020803       1517          24.014564         91053        94.960630
2139  36085020804       1366          24.467132         90455        99.585750
2140  36085021300       1658          32.113113         54231        86.185133
2141  36085022300        695          26.226415         61048        79.830508
2142  36085022600       2180          23.985037         92792        88.235294
2143  36085022800         36          15.584416         58480       100.000000
2144  36085023100       1320          31.556299         57091        74.905303
2145  36085023900       1319          38.954519         58708        83.708371
2146  36085024401       1321          21.309889         91189        96.120272
2147  36085024402       1081          24.423859         83802       100.000000
2148  36085024700        902          32.598482         58661        92.207792
2149  36085024800       1322          27.201646         81702        92.039356
2150  36085025100       1703          29.382333         91356        98.203179
2151  36085027301       1012          25.698324         78537        91.463415
2152  36085027302        755          21.054099         95592        98.200900
2153  36085027702       1387          22.748893         61806        92.881647
2154  36085027704       1037          24.532766         98462        92.378753
2155  36085027705       1604          27.712509         76676        92.724573
2156  36085027706        837          25.210843         78393       100.000000
2157  36085027900        289          13.722697        103750        96.380090
2158  36085029102        721          26.585546         82292        99.325464
2159  36085029103       1859          25.104659         74507        92.829949
2160  36085029104       1783          25.475068         89830        94.353370
2161  36085030301       1662          32.839360         59625        94.941349
2162  36085030302       1789          28.831587         80887        87.425546
2163  36085031901       1029          35.288066         27031        85.845347
2164  36085031902       1211          26.703418         31750        88.441692
2165  36085032300        305          27.576854         58804        90.035587
2166  36085990100          0           0.000000         58480         0.000000

[2167 rows x 5 columns]