In [1]:
#importing dependacies
import pandas as pd
import numpy as np

In [2]:
#reading in puma13 files
pums13 = pd.read_csv("../Data/PUMs_NY/PUMS_NY_2013/ss13hny.csv", usecols = ['PUMA','WGTP', 'ACCESS', 'BROADBND', \
        'COMPOTHX', 'DIALUP', 'DSL', 'FIBEROP','MODEM', 'SATELLITE','OTHSVCEX','HANDHELD','LAPTOP'], dtype = {'PUMA':str})
#print "PUMA 2013:\n", pums13.head(), len(pums13)
#print ""
#Reading in puma_nyc file and merging it
puma_nyc = pd.read_csv("../Data/PUMA_NYC/Use_this/PUMA_NYC.txt", usecols = ['PUMACE10'], dtype={'PUMACE10':str})
p13 = pd.merge(pums13,puma_nyc, how='inner', left_on='PUMA',right_on='PUMACE10')
#print "Merged files:\n", pums13nyc.head(), len(pums13nyc)
del p13['PUMACE10']

In [3]:
#p13i = p13.drop(labels=['COMPOTHX','HANDHELD','LAPTOP'],axis=1)
#p13c = p13.drop(labels= ['ACCESS','BROADBND','DIALUP','DSL','FIBEROP','MODEM','OTHSVCEX','SATELLITE'],axis=1)
#p13i = p13i.dropna(how='all',thresh=1,subset=['ACCESS','BROADBND','DIALUP','DSL','FIBEROP','MODEM','SATELLITE','OTHSVCEX'])
#p13c = p13c.dropna(how='all',thresh=1,subset=['COMPOTHX','HANDHELD','LAPTOP'])
p13 = p13.dropna(how='all',thresh=1,subset=['ACCESS','BROADBND','DIALUP','DSL','FIBEROP','MODEM','SATELLITE','OTHSVCEX'])
p13 = p13.dropna(how='all',thresh=1,subset=['COMPOTHX','HANDHELD','LAPTOP'])
p13.head()

,PUMA,WGTP,ACCESS,BROADBND,COMPOTHX,DIALUP,DSL,FIBEROP,HANDHELD,LAPTOP,MODEM,OTHSVCEX,SATELLITE
0,04011,95,1,2,2,2,2,2,1,1,1,2,2
1,04011,175,1,2,2,1,1,2,2,1,1,2,2
2,04011,79,1,2,2,2,2,2,1,1,1,2,2
4,04011,187,1,2,2,2,2,2,1,1,1,2,2
5,04011,87,3,NaN,2,NaN,NaN,NaN,2,2,NaN,NaN,NaN

In [4]:
# PUMAreas=p13c.groupby('PUMA')
# Tot_HH = (PUMAreas.WGTP.sum()).sum()
# print "For Computer Access:\nTotal number of Households in NYC: {0:,}".format(Tot_HH) #No of HH in NYC
# PUMAreas=p13i.groupby('PUMA')
# Tot_HH = (PUMAreas.WGTP.sum()).sum()
# print "For Internet Access:\nTotal number of Households in NYC: {0:,}".format(Tot_HH) #No of HH in NYC
PUMAreas=p13.groupby('PUMA')
Tot_HH = (PUMAreas.WGTP.sum()).sum()
print "Total number of Households in NYC: {0:,}".format(Tot_HH) #No of HH in NYC

Total number of Households in NYC: 3,084,862

In [5]:
print "ACS defines Broadband Access as Internet Access other than Dial-Up, through Mobile BB, DSL, Fiberop, Modem, or Satellite"
BB= p13.ix[(p13.BROADBND==1)|(p13.DSL==1)|(p13.FIBEROP==1)|(p13.MODEM==1)|(p13.SATELLITE==1)].WGTP.sum()
print "Number of NYC HH with High Speed Internet(HSI) access: {0:,} ({1:.2f}%)".format(BB,BB/float(Tot_HH)*100)
print "Number of NYC HH without HSI Access: {0:,} ({1:.2f}%)".format(Tot_HH-BB,(Tot_HH-BB)/float(Tot_HH)*100)

ACS defines Broadband Access as Internet Access other than Dial-Up, through Mobile BB, DSL, Fiberop, Modem, or Satellite
Number of NYC HH with High Speed Internet(HSI) access: 2,272,025 (73.65%)
Number of NYC HH without HSI Access: 812,837 (26.35%)

In [6]:
Comp= p13.ix[(p13.LAPTOP==1)|(p13.HANDHELD==1)].WGTP.sum()
print "Number of NYC HH with computer Access: {0:,} ({1:.2f}%)".format(Comp,Comp/float(Tot_HH)*100)
print "Number of NYC HH without computer Access: {0:,} ({1:.2f}%)".format(Tot_HH-Comp,(Tot_HH-Comp)/float(Tot_HH)*100)

Number of NYC HH with computer Access: 2,548,159 (82.60%)
Number of NYC HH without computer Access: 536,703 (17.40%)

In [7]:
onepuma=p13.ix[p13.PUMA=='04011']
print "length of PUMA 04011:{}".format(len(onepuma))
print "population of PUMA 04011:{}".format( onepuma.WGTP.sum())
onepuma.head()

length of PUMA 04011:334
population of PUMA 04011:38793

,PUMA,WGTP,ACCESS,BROADBND,COMPOTHX,DIALUP,DSL,FIBEROP,HANDHELD,LAPTOP,MODEM,OTHSVCEX,SATELLITE
0,04011,95,1,2,2,2,2,2,1,1,1,2,2
1,04011,175,1,2,2,1,1,2,2,1,1,2,2
2,04011,79,1,2,2,2,2,2,1,1,1,2,2
4,04011,187,1,2,2,2,2,2,1,1,1,2,2
5,04011,87,3,NaN,2,NaN,NaN,NaN,2,2,NaN,NaN,NaN

In [8]:
p13['HSI']=0
p13['Device']=0

In [9]:
p13.ix[(p13.BROADBND==1)|(p13.DSL==1)|(p13.FIBEROP==1)|(p13.MODEM==1)|(p13.SATELLITE==1),'HSI']\
=p13.ix[(p13.BROADBND==1)|(p13.DSL==1)|(p13.FIBEROP==1)|(p13.MODEM==1)|(p13.SATELLITE==1),'WGTP']
p13.ix[(p13.LAPTOP==1)|(p13.HANDHELD==1),'Device']=p13.ix[(p13.LAPTOP==1)|(p13.HANDHELD==1),'WGTP']

In [10]:
p13.head(20)

,PUMA,WGTP,ACCESS,BROADBND,COMPOTHX,DIALUP,DSL,FIBEROP,HANDHELD,LAPTOP,MODEM,OTHSVCEX,SATELLITE,HSI,Device
0,04011,95,1,2,2,2,2,2,1,1,1,2,2,95,95
1,04011,175,1,2,2,1,1,2,2,1,1,2,2,175,175
2,04011,79,1,2,2,2,2,2,1,1,1,2,2,79,79
4,04011,187,1,2,2,2,2,2,1,1,1,2,2,187,187
5,04011,87,3,NaN,2,NaN,NaN,NaN,2,2,NaN,NaN,NaN,0,0
6,04011,70,1,2,1,2,2,2,1,2,1,2,2,70,70
8,04011,161,1,1,1,2,2,2,1,1,1,2,2,161,161
10,04011,147,1,1,2,2,2,2,1,1,1,2,2,147,147
11,04011,68,3,NaN,2,NaN,NaN,NaN,1,2,NaN,NaN,NaN,0,68
12,04011,91,1,1,2,2,2,2,1,1,1,2,2,91,91
13,04011,46,3,NaN,2,NaN,NaN,NaN,2,2,NaN,NaN,NaN,0,0
14,04011,178,2,NaN,2,NaN,NaN,NaN,1,1,NaN,NaN,NaN,0,178
15,04011,67,1,1,2,2,2,2,1,1,1,2,2,67,67
16,04011,124,1,2,2,2,2,2,2,1,1,2,2,124,124
18,04011,197,1,2,2,2,2,2,2,1,1,2,2,197,197
19,04011,42,1,1,2,2,2,2,1,1,1,2,2,42,42
21,04011,125,1,2,2,2,2,2,1,1,1,2,2,125,125
22,04011,279,1,1,2,2,2,2,1,1,1,2,2,279,279
23,04011,92,1,2,2,2,2,2,1,1,1,2,2,92,92
24,04011,68,3,NaN,2,NaN,NaN,NaN,2,2,NaN,NaN,NaN,0,0

In [23]:
HSI = PUMAreas.HSI.sum()
Device = PUMAreas.Device.sum()
Total = PUMAreas.WGTP.sum()

In [53]:
Final = pd.concat([HSI,Device,Total],axis=1)
Final['withoutHSI']=(Final.WGTP-Final.HSI)/Final.WGTP*100
Final['WithoutDevice']=(Final.WGTP-Final.Device)/Final.WGTP*100
Final = Final.reset_index()

In [54]:
Final.head()

    PUMA    HSI  Device   WGTP  withoutHSI  WithoutDevice
0  03701  31768   35535  41585   23.607070      14.548515
1  03702  33599   39321  46196   27.268595      14.882241
2  03703  33958   36252  44637   23.924099      18.784865
3  03704  29102   33676  42571   31.638909      20.894506
4  03705  33164   41499  55848   40.617390      25.692952

In [26]:
Final.WGTP.sum()

3084862L

In [38]:
lookup = pd.read_csv("../Data/nyc2010census_tabulation_equiv.csv",dtype=str)
lookup.head()

,Borough,2010 Census Bureau FIPS County Code,2010 NYC Borough Code,2010 Census Tract,PUMA
0,Bronx,005,2,031000,3704
1,Bronx,005,2,031200,3704
2,Bronx,005,2,031400,3704
3,Bronx,005,2,031600,3704
4,Bronx,005,2,031800,3704

In [59]:
lookup['censustract']='36'+lookup['2010 Census Bureau FIPS County Code']+lookup['2010 Census Tract']
lookup = lookup.drop(labels = ['2010 Census Bureau FIPS County Code','2010 Census Tract'],axis=1)

KeyError: '2010 Census Bureau FIPS County Code'

In [60]:
lookup['PUMA']='0'+lookup['PUMA']

In [61]:
pumcensus = pd.merge(lookup,Final, how='outer', left_on='PUMA',right_on='PUMA')

In [62]:
pumcensus.head()

,Borough,2010 NYC Borough Code,PUMA,censustract,HSI,Device,WGTP,withoutHSI,WithoutDevice
0,Bronx,2,03704,36005031000,29102,33676,42571,31.638909,20.894506
1,Bronx,2,03704,36005031200,29102,33676,42571,31.638909,20.894506
2,Bronx,2,03704,36005031400,29102,33676,42571,31.638909,20.894506
3,Bronx,2,03704,36005031600,29102,33676,42571,31.638909,20.894506
4,Bronx,2,03704,36005031800,29102,33676,42571,31.638909,20.894506

In [63]:
len(pumcensus)

2168